<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <appSettings>
    <add key="clientid" value="ABTxW6lPn1V4YMmvANavfol94a5iuTBDTeg2649dUIAr7OPErt" />
    <add key="clientsecret" value="irYUpW7oCl7QosLhQjmk4u3pNjNR9jujN0XBLlBq" />
    <add key="redirectUrl" value="http://localhost:27353/callback" />
    <add key="appEnvironment" value="sandbox" />
  </appSettings>

</configuration>